*{
    margin: 0;
    padding: 0;
    font-family: 'inter' , sans-serif;
}

body{
    background-color: #7a5948;
}

header{
    width: 100%;
    height: 70px;
}

.espia{
    img {
        max-width: 400px;
    }
    padding-left: 230px;
    position: absolute;
    top: -275px;
    box-sizing: border-box;
    padding-top: 50px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

.hutao{
    img {
        max-width: 370px;
    }    padding-left: 355px;
}

.mayushi{
    img {
        max-width: 300px;
    }
    position: absolute;
    padding-top: 42%;
    box-sizing: border-box;
}

.kurisu{
    img{
        max-width: 478px;
    }
    position: absolute;
    padding-left: 380px;
    padding-top: 382px;
    z-index: 1;
}

.bunny{
    img{
        max-width: 210px;
    }
    position: absolute;
    padding-left: 250px;
    padding-top: 428px;
    z-index: 1;
}

/* Estilo del modal */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1; /* Sitúa el modal sobre otros contenidos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permitir desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

/* Contenido del modal */
.modal-content {
    background-color: #a34f4f;
    margin: 15% auto; /* Centrar el modal */
    padding: 10px;
    border: 1px solid #888;
    width: 40%; /* Ancho del modal */

}
.modal-content p{
    margin: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    color: #110a0a;}

/* Botón de cerrar */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}



.contenedorcajatexto{
    position: relative;
    left: 200px;
    top: 150px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
}

.cajatexto{
    resize: none;
    padding: 20px;
    width: 80%;
    height: 100%;
    border: none;
    background-color: #CCAF83;
    cursor: pointer;
    color: #051830;
    box-sizing: border-box;
    border-radius: 32px;
    font-size: 32px;
    font-weight: 400px;
    font-family: 'Inter', sans-serif;
}

.cajatexto::placeholder{
    color: #0A3871;
    padding-left: 20px;
    padding-top: 25px;
}

.alerta{
    position: absolute;
    top: 750px;
    left: 370px;
    display: flex;
    color: #CCAF83;
}

.contenedor-botones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Inter' , sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.seccion2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 325px;
    padding-right: 20px;
    background-color: #943934;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.amber{
    img {
        max-width: 800px;
    }
    position: absolute;
    left: -185px;
    top: 15px;
    box-sizing: border-box;
    padding-top: 50px;
}


.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;
}

.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedor-parrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #a34f6f;
    padding-top: 20px;
}

.contenedor-resultado{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p{
    color: #495057;
    font-size: 25px;
}

.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}


.ocultar{
    display: none;
}